body {
  background-color: rgb(174, 205, 211);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: url(https://wallpaper.dog/large/16990220.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: fixed;
}

.title {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

#foodContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: -185px;
}

form {
  margin-left: auto;
  margin-right: 170px;
  line-height: 30px;
  font-size: 20px;
  width: 200px;
}

#spin {
  color: rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
  text-align: center;
}

#reset {
  color: rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  text-align: center;
}

.orders {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: -20px;
  top: 20px;
  list-style-type: none;
}

.create {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: static;
  display: flex;
  margin-top: -45px;
  margin-left: auto;
  margin-right: auto;
}

#popup {
  flex-basis: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  /* background-color: rgb(0, 0, 0); */
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2969dd34-df35-4d72-a011-2ce6e38f909a/debsxd0-6895b769-f3bb-4552-b65f-063b9ca461c3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI5NjlkZDM0LWRmMzUtNGQ3Mi1hMDExLTJjZTZlMzhmOTA5YVwvZGVic3hkMC02ODk1Yjc2OS1mM2JiLTQ1NTItYjY1Zi0wNjNiOWNhNDYxYzMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DNAoR4Xv672m1EyRgtKdjEO7fN7QgH64r_58-Q-7KwE);
  /* color: rgb(174, 205, 211); */
  color: black;
  text-align: center;
  padding: 3rem;
  border-radius: 2px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.hidden {
  display: none;
}

.bink {
  color: rgb(0, 0, 0);
}

.list {
  cursor: pointer;
  color: black;
  font-weight: bold;
  /* text-decoration: underline; */
  font-size: 18px;
  font-weight: lighter;
}

.list:before {
  list-style-type: none;
  content: "\1F354";
  text-decoration: none;
}

.instructions {
  margin-right: auto;
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin-top: -61px;
  color: rgb(0, 0, 0);
}

.inst {
  padding: 1px;
  font-size: 15px;
  margin-right: auto;
  margin-left: 15px;
  color: rgb(0, 0, 0);
  list-style-type: none;
}

.inst:before {
  list-style-type: none;
  content: "\1F354";
}

.menu {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(117, 61, 168);
  font-weight: bold;
  font-size: 15px;
  top: 100%;
}

a {
  margin: 5px;
}

.pan {
  /* color: rgb(0, 161, 0); */
  color: rgb(0, 0, 0);
}

.wen {
  /* color: red; */
  color: rgb(0, 0, 0);
}

.fiv {
  /* color: maroon; */
  color: rgb(0, 0, 0);
}

.bur {
  /* color: rgb(175, 102, 18); */
  color: rgb(0, 0, 0);
}

.mcd {
  /* color: yellow; */
  color: rgb(0, 0, 0);
}

.dom {
  /* color: blue; */
  color: rgb(0, 0, 0);
}

.swe {
  /* color: rgb(1, 88, 1); */
  color: rgb(0, 0, 0);
}

.piz {
  /* color: rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
}

.arb {
  /* color: white; */
  color: rgb(0, 0, 0);
}

.chi {
  /* color: red; */
  color: rgb(0, 0, 0);
}

.chip {
  /* color: brown; */
  color: rgb(0, 0, 0);
}

.kfc {
  /* color: rgb(255, 60, 60); */
  color: rgb(0, 0, 0);
}

#menuList {
  margin-top: 50px;
  text-align: center;
}

#customer {
  position: absolute;
  top: 180px;
}

#drink {
  position: absolute;
  top: 210px;
}

#main {
  position: absolute;
  top: 240px;
}

#side {
  position: absolute;
  top: 270px;
}

#dessert {
  position: absolute;
  top: 300px;
}

.submit {
  position: absolute;
  top: 330px;
}

.jep {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
}

.entry {
  position: absolute;
  left: 0px;
  top: -2px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.fries {
  position: absolute;
  left: 0px;
  top: -2px;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: rotation 7s infinite linear;
}
