body {
  background-color: rgb(174, 205, 211);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: url(https://wallpaper.dog/large/16990220.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: fixed;
}

.title {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

#foodContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: -180px;
}

form {
  margin-left: auto;
  margin-right: 170px;
  line-height: 30px;
  margin-top: -10px;
  font-size: 20px;
  width: 200px;
}

#spin {
  color: rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
  text-align: center;
}

#reset {
  color: rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  text-align: center;
}

.orders {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: -20px;
  top: 20px;
  list-style-type: none;
}

.create {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: static;
  display: flex;
  margin-top: -45px;
  margin-left: auto;
  margin-right: auto;
}

#popup {
  flex-basis: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: rgb(0, 0, 0);
  color: rgb(174, 205, 211);
  text-align: center;
  padding: 3rem;
  border-radius: 2px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* #hidden {
  display: none;
} */

.bink {
  color: rgb(0, 0, 0);
}

.list {
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  font-weight: lighter;
}

.instructions {
  margin-right: auto;
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin-top: -257px;
  color: rgb(0, 0, 0);
}

.inst {
  padding: 1px;
  font-size: 15px;
  margin-right: auto;
  margin-left: 15px;
  color: rgb(0, 0, 0);
}

.menu {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(117, 61, 168);
  font-weight: bold;
  font-size: 15px;
  top: 100%;
}

a {
  margin: 5px;
}

.pan {
  /* color: rgb(0, 161, 0); */
  color: rgb(0, 0, 0);
}

.wen {
  /* color: red; */
  color: rgb(0, 0, 0);
}

.fiv {
  /* color: maroon; */
  color: rgb(0, 0, 0);
}

.bur {
  /* color: rgb(175, 102, 18); */
  color: rgb(0, 0, 0);
}

.mcd {
  /* color: yellow; */
  color: rgb(0, 0, 0);
}

.dom {
  /* color: blue; */
  color: rgb(0, 0, 0);
}

.swe {
  /* color: rgb(1, 88, 1); */
  color: rgb(0, 0, 0);
}

.piz {
  /* color: rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
}

.arb {
  /* color: white; */
  color: rgb(0, 0, 0);
}

.chi {
  /* color: red; */
  color: rgb(0, 0, 0);
}

.chip {
  /* color: brown; */
  color: rgb(0, 0, 0);
}

.kfc {
  /* color: rgb(255, 60, 60); */
  color: rgb(0, 0, 0);
}

#menuList {
  margin-top: 50px;
  text-align: center;
}
